* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: lightgray
  }

:root {
    --primary-color: #386cfc;
}



/* NAV */

header {
    padding: 5px 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 25;

  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    Background-color: var(--primary-color);
    color: black;
    
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--primary-color);
  }

  header nav ul li a {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    
  }
  

  /* Cushion */

.Cushion {
    background-image: url("../images/Cushion.jpg");
    width: auto;
    height: 150px;
    z-index: 999;
}

.Subtitle {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: var(--primary-color);
    left: 1725px;
    top: 150px;
}

.Subtitle h2 {
    font-size: 1.2em;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: absolute

}

/* About me and BIO */

.Intro {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30%;
    
}

.About-Me {
 align-items: right;
 font-size: 1.8em;
 border-bottom: 4px solid var(--primary-color);;
}

.Pro-Pic {
    display: block;
    position: relative;
    flex: 1;
    height: 5%;
    width: 30%;
    min-width: 0;
}

.Bio {
flex: 1 1;
}

/* Work and Main Boxes */

.Main {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    gap: 30%;
}

.Work h2{
font-size: 2.9em;
border-bottom: 4px solid var(--primary-color);;

}

.Boxes {
   display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
  height: 550px;
  width: 100%;
  
}

.surf {
    height: 55%;
    display: block;
  position: relative;
  width: 100%;
  margin: 1%;

}

.surf::after {
    content: "";
    background-image: url("../images/box-image1.png");
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -10;  
}

.LED, .Calculator, .Pastel, .Run {
   
    display: block;
  position: relative;
  margin: 1%; 
  height: 20%;
  width: 48%;
}

.LED::after{
    content: "";
    background-image: url("../images/box-image2.webp");
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -10;  
}

.Calculator::after { 
    content: "";
    background-image: url("../images/box-image3.webp");
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -10;  
}

.Pastel::after { 
    content: "";
    background-image: url("../images/box-image4.jpg");
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -10;  
}

.Run::after { 
    content: "";
    background-image: url("../images/box-image5.jpg");
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -10;  
}

.break::after {
    flex-basis: 100%;
    height: 0;
  }

  /* Text boxes in Main boxes */

  .Surf-Box, .LED-Box, .Calculator-Box, .Pastel-Box, .Run-Box {
position: absolute;
top: 85%

  }


  /* Footer */
  footer {
  background: var(--primary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.contact-me {
    font-size: 2.9em;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    section {
        padding: 30px 15px;
      }
    
}
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
  }